In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("Superficie_de_√Åreas_Verdes_Santiago.csv")
df.head(5)

,FID,comuna,estado,area_m2,area_ha,estado_2,id,shapearea,layer,shape_leng,shape_area,clase,Shape__Area,Shape__Length
0,1,PUENTE ALTO,DESAFECTADA VERDE,241.711,0.024171,BUEN,PA BUEN PL 1500,241.71134,BUEN,64.464310,241.709167,PLAZA,349.138672,77.435571
1,2,PUENTE ALTO,DESAFECTADA VERDE,174.043,0.017404,BUEN,PA BUEN PL 1501,174.04322,BUEN,70.170324,174.041572,PLAZA,251.416016,84.457573
2,3,PUENTE ALTO,DESAFECTADA VERDE,158.316,0.015832,BUEN,PA BUEN PL 1502,158.31628,BUEN,51.687487,158.314514,PLAZA,228.695312,62.180707
3,4,PUENTE ALTO,DESAFECTADA VERDE,1275.719,0.127572,BUEN,PA BUEN BA 1503,1275.71946,BUEN,502.316358,1275.701698,BANDEJON,1842.876953,605.046081
4,5,PUENTE ALTO,DESAFECTADA VERDE e,463.757,0.046376,MAL,PA MAL VE 1504,463.75676,MAL,108.696297,463.749161,VEREDA,669.876953,130.660046

In [8]:
df.tail(5)

,FID,comuna,estado,area_m2,area_ha,estado_2,id,shapearea,layer,shape_leng,shape_area,clase,Shape__Area,Shape__Length
11597,11598,LAS CONDES,DESAFECTADA VERDE,384.792,0.038479,BUEN,LCO BUEN VE 10999,384.79219,BUEN,82.007641,384.787580,VEREDA,553.593750,98.359102
11598,11599,LAS CONDES,DESAFECTADA VERDE,454.380,0.045438,BUEN,LCO BUEN VE 11000,454.37960,BUEN,106.487864,454.372218,VEREDA,653.701172,127.707305
11599,11600,LAS CONDES,DESAFECTADA VERDE,415.079,0.041508,BUEN,LCO BUEN VE 11001,415.07938,BUEN,91.520815,415.074123,VEREDA,597.160156,109.728414
11600,11601,LAS CONDES,DESAFECTADA VERDE,392.405,0.039240,BUEN,LCO BUEN PL 11002,392.40480,BUEN,76.673309,392.399252,PLAZA,564.533203,91.995734
11601,11602,LAS CONDES,DESAFECTADA VERDE,351.627,0.035163,BUEN,LCO BUEN PL 11003,351.62706,BUEN,76.083330,351.620648,PLAZA,505.865234,91.230457

In [12]:
df2 = df[df["clase"] =="PLAZA"]
df2.head()

,FID,comuna,estado,area_m2,area_ha,estado_2,id,shapearea,layer,shape_leng,shape_area,clase,Shape__Area,Shape__Length
0,1,PUENTE ALTO,DESAFECTADA VERDE,241.711,0.024171,BUEN,PA BUEN PL 1500,241.71134,BUEN,64.464310,241.709167,PLAZA,349.138672,77.435571
1,2,PUENTE ALTO,DESAFECTADA VERDE,174.043,0.017404,BUEN,PA BUEN PL 1501,174.04322,BUEN,70.170324,174.041572,PLAZA,251.416016,84.457573
2,3,PUENTE ALTO,DESAFECTADA VERDE,158.316,0.015832,BUEN,PA BUEN PL 1502,158.31628,BUEN,51.687487,158.314514,PLAZA,228.695312,62.180707
6,7,PUENTE ALTO,DESAFECTADA VERDE,203.438,0.020344,BUEN,PA BUEN PL 1506,203.43823,BUEN,63.180223,203.435529,PLAZA,293.921875,76.027458
7,8,PUENTE ALTO,DESAFECTADA VERDE,153.887,0.015389,BUEN,PA BUEN PL 1507,153.88659,BUEN,54.883839,153.883039,PLAZA,222.326172,66.044332

In [14]:
df.describe()

,FID,area_m2,area_ha,shapearea,shape_leng,shape_area,Shape__Area,Shape__Length
count,11602.000000,1.160200e+04,11602.000000,1.160200e+04,11602.000000,1.160200e+04,1.160200e+04,11602.000000
mean,5801.500000,3.296967e+03,0.329697,3.296967e+03,219.732646,3.296924e+03,4.749952e+03,263.789978
std,3349.353246,3.499052e+04,3.499052,3.499052e+04,359.304994,3.499006e+04,5.036335e+04,431.171076
min,1.000000,4.013000e+00,0.000401,4.013500e+00,8.340089,4.013238e+00,5.789062e+00,10.001849
25%,2901.250000,3.907538e+02,0.039075,3.907537e+02,98.484714,3.907477e+02,5.635884e+02,118.222678
50%,5801.500000,8.004705e+02,0.080047,8.004704e+02,143.306862,8.004548e+02,1.154214e+03,172.148862
75%,8701.750000,1.691755e+03,0.169176,1.691755e+03,236.189663,1.691733e+03,2.440207e+03,283.591790
max,11602.000000,2.046148e+06,204.614795,2.046148e+06,23086.283805,2.046121e+06,2.945137e+06,27701.306942

In [16]:
comunas = df.groupby(["comuna"]).mean()
comunas

,FID,area_m2,area_ha,shapearea,shape_leng,shape_area,Shape__Area,Shape__Length
comuna,,,,,,,,
CERRILLOS,4986.623037,7062.480770,0.706248,7062.480759,289.925277,7062.387618,10184.539267,348.163761
CERRO NAVIA,406.000000,2406.589350,0.240659,2406.589298,210.832373,2406.557911,3464.275191,252.826782
CONCHALI,1075.568627,1632.232739,0.163223,1632.232730,190.779815,1632.211592,2347.535290,228.785586
EL BOSQUE,5861.913580,1915.994630,0.191600,1915.994651,198.586103,1915.969531,2767.417245,238.665508
ESTACION CENTRA,6645.468647,2731.533102,0.273153,2731.533097,232.506509,2731.496708,3936.030631,279.044241
HUECHURABA,7281.500000,3873.768601,0.387377,3873.768588,187.194596,3873.718261,5572.359169,224.442166
INDEPENDENCIA,7025.887218,1306.888444,0.130689,1306.888416,167.526801,1306.871064,1881.187383,200.972403
LA CISTERNA,3747.500000,7659.899346,0.765990,7659.899320,315.525372,7659.798683,11053.367375,378.856099
LA FLORIDA,6122.775312,1655.389820,0.165539,1655.389796,181.101385,1655.367834,2389.364373,217.568629
LA GRANJA,3928.979167,3381.520571,0.338152,3381.520565,194.052390,3381.475357,4879.951880,233.105071
LA PINTANA,2886.500000,1887.983930,0.188798,1887.983927,181.626987,1887.958474,2727.971632,218.294496
LA REINA,2091.906667,8450.688689,0.845069,8450.688680,274.469786,8450.577506,12171.439201,329.469509
LAS CONDES,6099.111878,3063.015384,0.306302,3063.015386,235.335401,3062.975589,4408.351285,282.329128
LO BARNECHEA,5267.420896,1919.387570,0.191939,1919.387563,207.869411,1919.362915,2758.506046,249.208232
LO ESPEJO,4206.000000,1874.407255,0.187441,1874.407257,190.683832,1874.382485,2704.298059,229.093406
LO PRADO,5611.609375,1860.152964,0.186015,1860.152979,193.756742,1860.128658,2679.389038,232.458662
MACUL,6707.097778,2195.976169,0.219598,2195.976137,214.969011,2195.946720,3166.498741,258.175396
MAIPU,9639.232804,1402.728051,0.140273,1402.728038,200.270936,1402.709458,2023.218090,240.484917
NUNOA,7841.726343,3616.480361,0.361648,3616.480354,236.607573,3616.432455,5211.423289,284.028354
PAC,4871.424731,2971.259849,0.297126,2971.259816,241.553280,2971.219977,4283.997091,290.126120
PENALOLEN,3128.280731,3157.740930,0.315774,3157.740924,239.560828,3157.699292,4553.269515,287.665671
PROVIDENCIA,9772.000000,7825.715975,0.782572,7825.715990,342.618765,7825.614039,11266.670818,411.184404
PUDAHUEL,9044.809524,2960.640825,0.296064,2960.640839,260.030863,2960.602122,4264.155279,311.875279
PUENTE ALTO,1243.473032,1139.059565,0.113906,1139.059566,154.750523,1139.044246,1646.437891,186.018788
QUILICURA,8341.500000,1608.982080,0.160898,1608.982073,167.900551,1608.961301,2313.063151,201.244783
QUINTA NORMAL,8201.890625,3945.586453,0.394559,3945.586452,334.777878,3945.534540,5680.208374,401.454809
RECOLETA,8571.968254,11632.564845,1.163257,11632.564814,304.274376,11632.413972,16742.303006,364.830540
RENCA,8801.500000,18615.172445,1.861517,18615.172382,296.393942,18614.930624,26780.594315,355.452786
SAN BERNARDO,4245.228228,2299.819787,0.229982,2299.819785,252.450953,2299.788477,3323.135552,303.590905
SAN JOAQUIN,5791.732484,2265.723548,0.226572,2265.723549,224.517895,2265.694409,3267.560485,269.685744
SAN MIGUEL,4579.138889,2973.616833,0.297362,2973.616801,257.078550,2973.578904,4288.092014,308.635712
SAN RAMON,3896.785185,3102.610074,0.310261,3102.610035,250.674144,3102.568487,4478.909288,300.965886
SANTIAGO,8420.569811,7213.571596,0.721357,7213.571610,321.994252,7213.476547,10391.814453,386.365409
VITACURA,10720.964088,12654.510702,1.265451,12654.510716,343.198339,12654.345721,18203.687835,411.618014

In [18]:
df["clase"].unique()

array(['PLAZA', 'BANDEJON', 'VEREDA', 'PARQUE', 'CAMPO DEPORTIVO',
       'AV PARQUE'], dtype=object)

In [31]:
df[(df["clase"] == "AV PARQUE")]

,FID,comuna,estado,area_m2,area_ha,estado_2,id,shapearea,layer,shape_leng,shape_area,clase,Shape__Area,Shape__Length
11019,11020,VITACURA,CONSOLIDADA,747.850,0.074785,BUEN,V BUEN AV 11419,747.84997,BUEN,113.350598,747.841453,AV PARQUE,1076.179688,135.988346
11020,11021,VITACURA,CONSOLIDADA,4466.845,0.446685,BUEN,V BUEN AV 11420,4466.84514,BUEN,385.652587,4466.790777,AV PARQUE,6428.068359,463.388997
11021,11022,VITACURA,CONSOLIDADA,5082.516,0.508253,BUEN,V BUEN AV 11421,5082.51647,BUEN,402.430579,5082.460066,AV PARQUE,7313.736328,483.458055
11022,11023,VITACURA,CONSOLIDADA,5479.879,0.547987,BUEN,V BUEN AV 11422,5479.87892,BUEN,414.257953,5479.800968,AV PARQUE,7885.230469,497.678313
11023,11024,VITACURA,CONSOLIDADA,6182.451,0.618246,BUEN,V BUEN AV 11423,6182.45110,BUEN,460.670433,6182.372586,AV PARQUE,8895.839844,553.334957
11024,11025,VITACURA,CONSOLIDADA,9004.266,0.900427,BUEN,V BUEN AV 11424,9004.26599,BUEN,660.116444,9004.152602,AV PARQUE,12955.466797,792.508500
11025,11026,VITACURA,CONSOLIDADA,8540.129,0.854013,BUEN,V BUEN AV 11425,8540.12877,BUEN,638.944443,8540.021528,AV PARQUE,12287.011719,766.484654
11026,11027,VITACURA,CONSOLIDADA,9012.734,0.901273,BUEN,V BUEN AV 11426,9012.73366,BUEN,855.466113,9012.617979,AV PARQUE,12966.386719,1025.040240

In [37]:
# Obtendremos la superficie de √°reas verdes correspondientes a plazas o parques
df3 = df[["comuna", "area_m2", "estado_2","clase"]]
df3.head()

        comuna   area_m2 estado_2     clase
0  PUENTE ALTO   241.711     BUEN     PLAZA
1  PUENTE ALTO   174.043     BUEN     PLAZA
2  PUENTE ALTO   158.316     BUEN     PLAZA
3  PUENTE ALTO  1275.719     BUEN  BANDEJON
4  PUENTE ALTO   463.757      MAL    VEREDA

In [95]:
grouped = df3.groupby("comuna").sum()
grouped = grouped.sort_values("area_m2", ascending=False)
grouped.to_csv("sup_total_areas_verdes.csv", index=False)
grouped

                     area_m2
comuna
VITACURA         4580932.874
RECOLETA         2931406.341
MAIPU            2386040.415
RENCA            2382742.073
LAS CONDES       2217623.138
PROVIDENCIA      2183374.757
SANTIAGO         1911596.473
LA REINA         1901404.955
PENALOLEN        1900960.040
PUENTE ALTO      1837303.078
NUNOA            1414043.821
CERRILLOS        1348933.827
LA FLORIDA       1193536.060
HUECHURABA        844481.555
ESTACION CENTRA   827654.530
LA GRANJA         811564.937
SAN BERNARDO      765839.989
LO BARNECHEA      642994.836
PUDAHUEL          559561.116
PAC               552654.332
CONCHALI          499463.218
MACUL             494094.638
QUILICURA         482694.624
LA PINTANA        460668.079
SAN RAMON         418852.360
LA CISTERNA       398314.766
LO PRADO          357149.369
SAN JOAQUIN       355718.597
CERRO NAVIA       329702.741
EL BOSQUE         310391.130
LO ESPEJO         309277.197
QUINTA NORMAL     252517.533
SAN MIGUEL        214100.412
INDEPENDENCIA     173816.163

## Tipologia √Åreas Verdes

In [99]:
tip = pd.read_csv("tipologia_areas_verdes_rm.csv")
tip_publicas = tip[tip["TIPO"] =="P√∫blicas"]

grouped_tip = tip_publicas[["AREA_m2", "COMUNA"]].groupby("COMUNA").sum()
grouped_tip.sort_values("AREA_m2", ascending=False)
grouped_tip.to_csv("av_2.csv")

In [98]:
grouped.rename(mapper={"PAC":"Pedro Aguirre Cerda",}, axis=0, inplace=True)
grouped.to_csv("av_1.csv")

Dependiendo del dataset, se obtienen magnitudes radicalmente distintas sobre la superficie total de √°reas verdes por comuna.